.device-detail-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

.device-detail-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.device-detail-modal p {
    font-size: 1rem;
    margin: 10px 0;
}

.device-detail-modal .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.device-detail-modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /* Asegura que los botones ocupen el mismo espacio */
    margin: 0 5px; /* Espacio entre botones */
}

.device-detail-modal button:hover {
    background-color: #0056b3;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.button-container-top {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.redirect-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.redirect-btn:hover {
    background-color: #0056b3;
}

.close-btn {
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
}

.close-btn:hover {
    color: #ff0000;
}